<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cedtu.mapper.PackLogMapper">

<!-- Source: demo-project/sql/PACK_LOG.sql:108-153 — BIGFUND.PACK_LOG.log.insertLog -->
<insert id="insertLog">
    insert into DB_LOG ( ID , PROC_NAME , INFO , LOG_LEVEL , TIME_STAMP , CALL_STACK , ERR_STACK , STEP_NO , SQL_TXT , SQL_PARAM , LOG_DATE ) values ( LPAD ( nextval('log_seq') , 20 , '0' ) , #{inProcname} , #{inInfo} , #{inLevel} , to_char(now(), 'YYYYMMDDHH24MISS') , #{vCallstack, jdbcType=VARCHAR, javaType=String} , #{vErrstack, jdbcType=VARCHAR, javaType=String} , #{inStepno} , #{inSqltxt} , #{inSqlparam} , to_char(now(), 'YYYYMMDD') )
</insert>

<!-- Source: demo-project/sql/PACK_LOG.sql:170-214 — BIGFUND.PACK_LOG.LOG_NOAUTOTRANS.insertLogNoautotrans -->
<insert id="insertLogNoautotrans">
    insert into DB_LOG ( ID , PROC_NAME , INFO , LOG_LEVEL , TIME_STAMP , CALL_STACK , ERR_STACK , STEP_NO , SQL_TXT , SQL_PARAM , LOG_DATE ) values ( LPAD ( nextval('log_seq') , 20 , '0' ) , #{inProcname} , #{inInfo} , #{inLevel} , to_char(now(), 'YYYYMMDDHH24MISS') , #{vCallstack, jdbcType=VARCHAR, javaType=String} , #{vErrstack, jdbcType=VARCHAR, javaType=String} , #{inStepno} , #{inSqltxt} , #{inSqlparam} , to_char(now(), 'YYYYMMDD') )
</insert>

</mapper>
